@import '../../lib/_style_lib_v1.00.scss';
//@import '../../lib/_rundee_lib_v0.00.scss';

form.cmb-form{
    .cmb-row.cmb-type-gz-date{
        .cmb-td{
            > .container{@include box_shadow(); position:absolute;top:0; left:0;  width:auto;
                white-space:nowrap; padding:4px; border:0px solid gray;	background:rgba(255,255,255,.8);
                select,input{@extend .inline_block; width:auto; margin:0;}
                input.btn_cancel {margin:0px !important; padding:5px 10px !important;}
            }
        }
    }
    .cmb-row.cmb-type-gz-date-picker{
        .cmb-td{
            > div{@extend .inline_block;
                > p{margin:0;}
            }
        }
    }
}
