/*colors color*/
/*.hidden {@include rotateOut(); visibility:hidden !important;}*/
.bg_img {display:block; background-position:center; background-size:contain; background-repeat:no-repeat;}
.inline_block {display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}

@mixin bg_img{display:block; background-position:center; background-size:contain; background-repeat:no-repeat;}
@mixin inline_block{display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}

@mixin box_shadow($hor:2px ,$ver:2px ,$blur:4px ,$spread:0 ,$color:rgba(0,0,0,.25)){
	-webkit-box-shadow: $hor $ver $blur $spread $color;
	-moz-box-shadow: $hor $ver $blur $spread $color;
	box-shadow: $hor $ver $blur $spread $color;
}

@mixin text_shadow($x:2px ,$y:2px ,$blur:4px ,$color:rgba(0,0,0,.25) ,$imp:''){
	text-shadow: $x $y $blur $color $imp;
}

@mixin round_corner($rad:5px, $border:1px solid black){
	border:$border; border-radius: $rad; -moz-border-radius: $rad; -webkit-border-radius: $rad;
}

@mixin round_corner_2($rad:null, $rad_tl:null, $rad_tr:null, $rad_bl:null, $rad_br:null, $border:1px solid black){
	border:$border;
	@if $rad!=null{border-radius: $rad; -moz-border-radius: $rad; -webkit-border-radius: $rad;}
	@if $rad_tl!=null{border-top-left-radius: $rad_tl; -moz-border-top-left-radius: $rad_tl; -webkit-border-top-left-radius: $rad_tl;}
	@if $rad_tr!=null{border-top-right-radius: $rad_tr; -moz-border-top-right-radius: $rad_tr; -webkit-border-top-right-radius: $rad_tr;}
	@if $rad_br!=null{border-bottom-right-radius: $rad_br; -moz-border-bottom-right-radius: $rad_br; -webkit-border-bottom-right-radius: $rad_br;}
	@if $rad_bl!=null{border-bottom-left-radius: $rad_bl; -moz-border-bottom-left-radius: $rad_bl; -webkit-border-bottom-left-radius: $rad_bl;}
}

@mixin bg_img($bgColor:null ,$bgImg:null ,$bgImgHover:null ,$position:relative ,$display:block ,$bgPos:center ,$bgSize:contain ,$bgRepeat:no-repeat ,$important:null
	,$width:'' ,$height:'' ,$left:'' ,$top:'' ,$right:'' ,$bottom:''){
	@if $important==1 {
		@if $display!='inline_block' {display:$display !important;} @else {@extend .inline_block;}
		position:$position !important;
		background-position:$bgPos !important;
		background-repeat:$bgRepeat !important;
		background-size:$bgSize !important;
		@if $bgColor!=null {background-color:$bgColor !important;}
		@if $bgImg!=null {background-image:url($bgImg) !important;}
		@if $bgImgHover {&:hover {background-image:url($bgImgHover) !important;}}
	} @else {
		@if $display!=inline_block {display:$display;} @else {@extend .inline_block;}
		position:$position;
		background-position:$bgPos;
		background-repeat:$bgRepeat;
		background-size:$bgSize;
		@if $bgColor!=null {background-color:$bgColor;}
		@if $bgImg!=null {background-image:url($bgImg);}
		@if $bgImgHover {&:hover {background-image:url($bgImgHover);}}
	}
	@if $width!='' 	{width:$width;}
	@if $height!='' {height:$height;}
	@if $left!='' 	{left:$left;}
	@if $top!='' 	{top:$top;}
	@if $right!='' 	{right:$right;}
	@if $bottom!='' {bottom:$bottom;}
}

//https://github.com/geoffgraham/animate.scss
@import
	"/lib/animate.scss/_properties"
	,"/lib/animate.scss/_attention-seekers/_bounce"
	,"/lib/animate.scss/_attention-seekers/_pulse"
	,"/lib/animate.scss/_attention-seekers/_swing"
	,"/lib/animate.scss/_rotating-entrances/_rotateIn"
	,"/lib/animate.scss/_rotating-exits/_rotateOut"
	,"/lib/animate.scss/_sliding-entrances/_slideInDown"
	;

@mixin icon_link(){@include bounce();}
@mixin icon_top(){@include pulse();}

//To clear all transition
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}