@import '../../lib/_style_lib.scss';

.gz_fb_album {display:block; width:100%; height:auto; overflow:hidden; margin:0 0 0 0;// margin:380px 0 0 0;
	> ul.items{
		> li.item{@extend .inline_block; width:25%; height:200px; overflow:hidden;
			span.tmb{display:block; width:100%; height:100%;
				background-size:contain; background-position:center; background-repeat:no-repeat;
			}
		}
	}
}