//@import '../../_lib/_style_lib_v1.01.scss';
@import '../../_lib/_css/_wp_spinner_v0.00.scss';

.gz_monitor{
	position:relative; box-sizeing:border-box;
	> * {box-sizing:border-box;}

	.ui-tabs-loading {@include wp-spinner();}
	div[aria-busy="true"] {@include wp-spinner($w:10em,$h:10em,$opa:.5,$style:30px solid rgba(200,200,200),$modal:yes)}
	//div#ui-id-8 {@include wp-spinner($w:10em,$h:10em,$opa:.5,$style:30px solid rgba(200,200,200),$modal:yes)}

	.title {display:block; width:100%; background:#ccc;}
	.label {border-bottom:1px solid black;}

	.ui-tabs-panel {position:relative; overflow:hidden; min-height:200px;}
	
	ul.items{margin:0 0 10px 0;
		li.item {display:flex; position:relative;
			> .label {flex-grow: 1; flex-basis:0;}
		}
	}
	
	.graphs {position:relative; width:100%; display:flex;
		.gz_graph {}
	}
}