
//File attachment list
ul.file_list{margin-left:0px; list-style-type:none;
    li{box-sizing:border-box; border-radius:4px; margin:1px 0; padding-left:20px;
        position:relative; border:1px solid #aaa; background-color:#e4e4e4;
        &:hover{span.remove{opacity:1;}}
        > span.remove {
            position:absolute; display:block; cursor:pointer; opacity:0;
            color:#444; text-align:center; //font-size:13px; line-height:100%;
            width:20px; height:100%; left:0px; top:0px;
            //border:1px solid #aaa; background-color:white;
            &:hover{ color:red;}
        }
    }
}

table.gz_wc_attach.list_orders{
    tr{//display: block;
        &:hover {border:1px solid #ccc;}
        td{
            &.list_files {position:relative;}
            //.button.send_mail{}
        }
        
    }
}

.spinner {
    background: #ccc url('/wp/wp-admin/images/wpspin_light.gif') no-repeat;
    background-position: center; //background-size: 32px 32px;
    opacity: .7; filter: alpha(opacity=70);
    position:absolute; left:0; top:0; width: 100%; height: 100%;
}