@import '../../_style_lib.scss';

.control_button {}
//.control_height {height:-moz-calc(~"100vh - 107px"); height:-webkit-calc(~"100vh - 107px"); height:calc(~"100vh - 107px");}
//.control_height {height:calc( 100vh - 107px );}
//.panel_size {width:100%; height:calc( 904px * .780 );}
.panel_size {width:100%; height:100px; padding:78% 0 0 0;} //Padding % is calculated from the width

.gz_zoom_mask_2{position:relative; width:100%; height:auto; //background-color:red;
	> .panel_img{position:relative; overflow:hidden; //@extend .panel_size; //background-color:green;
		> .img {position:relative; left:0; top:0; @extend .panel_size;}
		> .mask {position:absolute; left:0; top:0; @extend .panel_size; //width:100%; height:100%; //background-clip:padding-box;
			background-size:120%; background-position:center; background-color:transparent; background-repeat:no-repeat;}
	}
	> .panel_control{text-align:center; background-color:rgba(0,0,0,.7); max-height:100px; z-index:1;
		display:table; position:relative; width:100%; height:7%; margin:-15% 0 0 0; padding:2% 10%;
		//position:relative; width:100%; height:10%; padding:0 0 0 12%; margin:-15% 0 0 0;
		//position:fixed; left:10vw; bottom:0; width:80vw; height:10vw;
		//> .control_wrap {position:relative; left:0; top:0; width
		> .control {top:0; cursor:pointer; position:relative;
			//@extend .inline_block; width:14%; height:100px;
			display:table-cell; width:14%; height:100%;
			background-position:center; background-size:contain; background-repeat:no-repeat; background-color:transparent;
			&.album_prev{background-image:url(/images/home/back.png);}
			&.album_next{background-image:url(/images/home/next.png);}
			&.zoom_in{background-image:url(/images/bt_control/zoom.png);}
			&.zoom_out{background-image:url(/images/bt_control/out.png);}
			&.img_prev{background-image:url(/images/bt_control/ar_left.png);}
			&.img_next{background-image:url(/images/bt_control/ar_right.png);}
			&.img_pan{width:100px; height:100px; //background:red;
				> .button{position:absolute; background-position:center; background-size:contain; background-repeat:no-repeat;
					//&:hover {background-color:red;}
					&.up {left:20%; top:0; width:60%; height:30%; background-image:url(/images/bt_control/drag_top.png);}
					&.right {right:0; top:20%; width:30%; height:60%; background-image:url(/images/bt_control/drag_right.png);}
					&.down {left:20%; bottom:0; width:60%; height:30%; background-image:url(/images/bt_control/drag_down.png);}
					&.left {left:0; top:20%; width:30%; height:60%; background-image:url(/images/bt_control/drag_left.png);}
					&.center {left:30%; top:30%; width:40%; height:40%; background-image:url(/images/bt_control/bug.png);}
				}
			}
		}
	}
	> .panel_tmb{position:relative; width:100%; //height:100vh; //background-color:pink;
		> .gz_img_tabs{border:none !important; background:none !important;
			> ul.tabs_nav {text-align:center; border:none !important; background:none !important;
				> li {@extend .inline_block; position:relative; width:19%; height:95px; margin:0px !important; float:none; background:none; border:none;
					> a.tab_label {display:block; width:100%; height:95px;
						//&.ui-stat-active {color:Black;}
						span.tab_label {display:block; width:100%; height:100%; background-position:center; background-size:contain; background-repeat:no-repeat;}
					}
					> a.more {display:block; border:none; position:absolute; bottom:0; width:100%; height:20px; text-align:center;
						box-shadow:none; -webkit-box-shadow:none; color:black;
					}
				}
			}
			> .gz_img_list{
				> ul.items{
					> li.item {background-color:transparent; background-position:center; background-size:contain; background-repeat:no-repeat;
						border:1px solid #ddd;
						height:0; padding:24% 0 0 0;
					}
				}
			}
		}
	}
}
//@mixin kk_content($width:960px){@include bg_img($width:$width); padding-bottom:150px;}
/*
.content_height {height:1162px; line-height:1162px;}
.gz_zoom_mask {@extend .content_height; position:relative; width:960px; margin:0 auto 0 auto; padding:0 0 0 0; overflow:hidden;
	.gz_container {@extend .content_height; width:100%; height:100%; position:relative; margin:0 auto;
		.item {width:960px; height:100%;
			background-position:center; background-repeat:no-repeat; background-size:cover;
			//display:block; margin:auto auto;
			//@extend .inline_block; vertical-align:middle;
		}
	}
	//.gz_mask{@include bg_img($position:absolute ,$width:100% ,$height:100% ,$bgImg:'/images/home/bg_mark_content.png' ,$bgPos:center top,$bgSize:2000px auto);
	.gz_mask{@include bg_img($position:absolute ,$width:100% ,$height:100% ,$bgPos:center top,$bgSize:2000px auto);
		left:0; right:0; top:0; margin:0 auto; padding:0; z-index:1; //background-color:white;
	}
}

.gz_img_list{
	> ul.items {
		> li.item {@extend .inline_block; width:24.5%; height:200px; margin:0 .25%; border:1px solid #ccc; cursor:pointer;
			background-position:center; background-size:contain; background-repeat:no-repeat; background-color:#eee;
			&:hover {@include pulse();};
		}
	}
}

*/