@import '../../lib/_style_lib_v1.00.scss';
@import '../../lib/_rundee_lib_v0.00.scss';

div.woocommerce-tabs, div.tabs.registrations{margin:0 !important; padding:0 !important;
    ul {margin:0 !important; padding:0 !important;}
    .woocommerce-Tabs-panel{min-height:500px; margin:10px 0 !important; padding:0 !important;}
}

fieldset.input_form{background-color:rgba(250,250,250,1);
    br {display:none;}
    label.required{
        &:before{content:'*'; color:red;}
    }
}

ul.gallery{ list-style:none;
    li.img{@extend .inline_block;
       //img{}
    }
}

table.runner_profile{
    th{text-align:right;}
}

form.cmb-form{
    .cmb2-wrap.form-table{
        > .cmb-field-list{
            > .cmb-row{
                > .cmb-th ,.cmb-td {padding:10px 10px 10px 0;}
            }
        }
    }
    input[type=submit],input[type=button]{display:block; margin:30px auto 20px auto; padding:8px 10px; width:100%;
        background-color:$color_btn_bg !important; color:white !important;
        &:hover{background-color:$color_btn_bg_hover !important;}
    }
}

.cmb-row.flex_inline{
    .cmb-td{max-width:calc(100% - 200px);
        ul.cmb2-radio-list{list-style:none;
            li{
                input.cmb2-option, label{display:inline;}
                input.cmb2-upload-button{margin:0 auto;}
            }
        }
    }
}

.cmb-row.flex_full{
    .cmb-td{max-width:calc(100% - 200px);
        ul.cmb2-radio-list{
            >li{list-style:none; overflow:hidden; padding:2px 0 0 2px; //width:calc(100% - 2px);
                input.cmb2-option, label{display:inline;}
            }
        }
    }
}

.cmb-row.flex_2cols{
    .cmb-td{width:calc(100% - 200px);
        ul.cmb2-radio-list{
            >li{list-style:none; overflow:hidden; padding:2px 0 0 2px; width:calc(50% - 2px); float:left;
                input.cmb2-option, label{display:inline;}
            }
        }
    }
}

.cmb-row.full_width{
    .cmb-td{width:100%;
        input.cmb2-option, label{display:inline;}
    }
}