@import '../_style_lib_v1.01.scss';

.prod_img {border:1px solid black; overflow:hidden;
	> a.img {@include inline_block; float:left;}
	> a.button.apply {@include inline_block; float:left;}
	> img.mv_spin {@include inline_block; float:left;}
}

.spinner_after{position:relative;
	&::after{
		content:' ';
		background: url('/wp/wp-admin/images/wpspin_light.gif') no-repeat; background-size: 16px 16px;
		width: 16px; height: 16px; margin: 5px 5px 0;
		display: block; position:absolute; right:-25px; top:0;
	}
}

table.gen_img_2{
	td.img1,td.img2 {width:25%;}
}
